{% extends 'base.html.twig' %}

{% block title %}Modifier le produit{% endblock %}

{% block body %}
    <h1>Modifier le produit</h1>

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.image) }}
        {{ form_row(form.price) }}
        {{ form_row(form.description) }}
        <button type="submit" class="btn btn-primary">Mettre à jour</button>
    {{ form_end(form) }}

    <a href="{{ path('admin_products') }}">Retour à la liste des produits</a>
{% endblock %}
